<div>
  <table class="table">
    <thead>
      <tr class="table-heading">
        <th class="thead-item">
          <input class="table-chechkbox tbody-checkbox" type="checkbox" />
          Company
          <img src="../../assets/userAvatar/down-arrow.svg" alt="down-arrow" />
        </th>
        <th>License use</th>
        <th>Status</th>
        <th>Users</th>
        <th>Country</th>
        <th>Timezone</th>
        <th>About</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <tr *ngFor="let user of existingProfileData">
        <td class="table-col">
          <div class="table-titlebox">
            <input class="table-chechkbox thead-checkbox" type="checkbox" />
            <div class="profile-image-wrapper">
              <img
                class="profile-image"
                src="../../assets/SidebarIcon/profile-picture.jpg"
                alt="profile"
              />
            </div>
            <div>
              <h2 class="table-title">
                {{ user.firstName + " " + user.lastName }}
              </h2>
              <h3 id="checkmate" class="company-about">{{ user.email }}</h3>
            </div>
          </div>
        </td>
        <td class="table-col">
          <div class="progressive-box">
            <div class="progressive-bar"></div>
          </div>
        </td>
        <td>
          <p class="status">{{ user.role }}</p>
        </td>
        <td class="table-col">
          <div class="avatars">
            <div class="avatar">
              <img
                class="img-avatar"
                src="../../assets/SidebarIcon/profile-picture.jpg"
                alt="user-avatar"
              />
            </div>
            <div class="avatar">
              <img
                class="img-avatar"
                src="../../assets/SidebarIcon/profile-picture.jpg"
                alt="user-avatar"
              />
            </div>
            <div class="avatar">
              <img
                class="img-avatar"
                src="../../assets/SidebarIcon/profile-picture.jpg"
                alt="user-avatar"
              />
            </div>
            <div class="avatar">
              <img
                class="img-avatar"
                src="../../assets/SidebarIcon/profile-picture.jpg"
                alt="user-avatar"
              />
            </div>
            <div class="avatar">
              <span class="avatar-number">+8</span>
            </div>
          </div>
        </td>
        <td>
          <p class="company-about company-info">{{ user.country }}</p>
        </td>
        <td>
          <p class="company-about company-info">{{ user.timeZone }}</p>
        </td>
        <td>
          <p class="company-about company-info">{{ user.bio }}</p>
        </td>
        <td class="table-col">
          <div class="table-act-btn">
            <button class="nostyle-btn" (click)="deleteData(user.id)">
              <img src="../../assets/Image/delete-icon.svg" alt="delete-icon" />
            </button>
            <a [routerLink]="'/profile/' + user.id">
              <img src="../../assets/Image/edit-icon.svg" alt="edit-icon" />
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <div class="pagination-btn">
      <button class="btn btn-outline" id="previous-btn">Previous</button>
      <button class="btn btn-outline" id="next-btn">Next</button>
    </div>
    <p class="pagination-page">
      Page <span id="current-page">1</span> of <span id="total-page">1</span>
    </p>
  </div>
</div>
