<section class="sidebar-section">
  <aside class="sidebar" id="sidebar">
    <div class="sidebar-heading">
      <button class="nostyle-btn" aria-label="Menu" id="close-nav">
        <img
          class="hamburger-icon"
          src="../../assets/Image/hamburgerIcon.svg"
          alt="Hamburger Icon"
        />
      </button>
      <a class="logo-container sidebar-logo" href="signup.html">
        <div class="logo-wrap">
          <img class="logo" src="../../assets/Image/Logo.svg" alt="Logo" />
        </div>
        <div class="logo-text-wrap">
          <img
            class="logo-text"
            src="../../assets/Image/logo-text.svg"
            alt="Untitled UI"
          />
        </div>
      </a>
    </div>
    <div class="sidebar-top">
      <form action="" class="search-container sidebar-search">
        <img
          class="search-icon"
          src="../../assets/Image/search.svg"
          alt="search-icon"
        />
        <input class="input search" type="text" placeholder="Search" />
      </form>

      <ul class="side-menu">
        <li>
          <a class="sidemenu-item" href="#">
            <div class="sidemenu-content">
              <img
                src="../../assets/SidebarIcon/home-icon.svg"
                alt="home-icon"
              />
              <p>Home</p>
            </div>
            <img src="../../assets/Image/dropdownicon.svg" alt="dropdownicon" />
          </a>
        </li>

        <li>
          <a class="sidemenu-item" href="./dashboard.html">
            <div class="sidemenu-content">
              <img src="../../assets/SidebarIcon/dashboard-icon.svg" alt="" />
              <p>Dashboard</p>
            </div>
            <img src="../../assets/Image/dropdownicon.svg" alt="dropdownicon" />
          </a>
        </li>

        <li>
          <a class="sidemenu-item" href="#">
            <div class="sidemenu-content">
              <img src="../../assets/SidebarIcon/project-icon.svg" alt="" />
              <p>Projects</p>
            </div>
            <img src="../../assets/Image/dropdownicon.svg" alt="dropdownicon" />
          </a>
        </li>

        <li>
          <a class="sidemenu-item" href="#">
            <div class="sidemenu-content">
              <img
                class="sidemenu-icon"
                src="../../assets/SidebarIcon/task-icon.svg"
                alt=""
              />
              <p>Tasks</p>
            </div>
            <img src="../../assets/Image/dropdownicon.svg" alt="dropdownicon" />
          </a>
        </li>

        <li>
          <a class="sidemenu-item" href="#">
            <div class="sidemenu-content">
              <img src="../../assets/SidebarIcon/reporting-icon.svg" alt="" />

              <p>Reporting</p>
            </div>
            <img src="../../assets/Image/dropdownicon.svg" alt="dropdownicon" />
          </a>
        </li>

        <li>
          <a class="sidemenu-item" href="#">
            <div class="sidemenu-content">
              <img src="../../assets/SidebarIcon/user-icon.svg" alt="" />
              <p>Users</p>
            </div>
            <img src="../../assets/Image/dropdownicon.svg" alt="dropdownicon" />
          </a>
        </li>
      </ul>

      <ul class="sidefooter-navmenu">
        <li>
          <a class="sidemenu-item sidemenu-content" href="#">
            <img
              src="../../assets/SidebarIcon/support-icon.svg"
              alt="support-icon"
            />
            Support
          </a>
        </li>

        <li>
          <a
            class="sidemenu-item sidemenu-content primary-anchor-tag"
            routerLink="/profile"
          >
            <img
              src="../../assets/SidebarIcon/seeting-icon.svg"
              alt="settings-icon"
            />
            Settings
          </a>
        </li>
      </ul>

      <div class="used-space">
        <h4 class="used-space-heading">Used space</h4>

        <p class="used-space-description">
          Your team has used 80% of your available space. Need more?
        </p>

        <div class="progressive-box side-progressivebar">
          <div class="progressive-bar"></div>
        </div>

        <div class="used-space-action">
          <button
            class="nostyle-btn btn-icon remove-plan"
            style="color: #9e77ed"
          >
            Dismiss
          </button>
          <button
            class="nostyle-btn btn-icon upgrade-plan"
            style="color: #6941c6"
          >
            Upgrade plan
          </button>
        </div>
      </div>
    </div>
    <div class="sidebar-footer">
      <div class="account">
        <div class="profile-container">
          <img
            class="profile-picture"
            src="../../assets/SidebarIcon/profile-picture.jpg"
            alt="profile-picture"
          />
        </div>
        <div>
          <h2 class="profile-heading" id="user-name">Olivia</h2>
          <p class="profile-email" id="user-email">olivia@untitledui.com</p>
        </div>
      </div>

      <button class="nostyle-btn logout-btn">
        <img src="../../assets/SidebarIcon/logout-icon.svg" alt="logout-icon" />
      </button>
    </div>
  </aside>
</section>
