a {
  text-decoration: none;
}

.dashboard {
  max-width: 2000px;
  margin: auto;
}


/*------------- for laptop view:--------------- */

@media only screen and (min-width: 1024px) {
  .dashboard-heading-container {
    padding: 0px 16px 32px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-main {
    display: flex;
    overflow: hidden;
    margin: 44px 0px 0px 312px;
    width: calc(100%-312px);
    padding: 0px 32px 0px 32px;
  }
}
