a {
  text-decoration: none;
}

.dashboard {
  max-width: 2000px;
  margin: auto;
}

.sidebar {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0px 24px 0px 24px;
  z-index: 1;
  max-width: 320px;

  padding: 0px 24px 0px 24px;
  height: 100vh;
  position: fixed;
  max-width: 312px;
  overflow-y: auto;
}

.sidebar-section {
  max-width: 312px;
  overflow: hidden;
}

.sidebar-top {
  overflow-y: auto;
}

.sidebar-logo {
  padding: 0px 0px 4px 0px;
  background-color: #ffffff;
  z-index: 1;
  position: sticky;
  top: 0;
}

.sidebar-search {
  margin-bottom: 24px;
}

.side-menu {
  margin-bottom: 151px;
}

.sidemenu-item:hover {
  background-color: #f9fafb;
}

.sidemenu-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  margin-bottom: 4px;
  padding: 8px 17px 8px 12px;
}

.sidemenu-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sidemenu-content > img {
  width: 18px;
}

.sidebar-footer {
  display: flex;
  gap: 50px;
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  padding-bottom: 25px;
  padding-top: 25px;
  border-top: 1px solid gray;
}

.sidefooter-navmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 24px;
}

.sidebar-heading {
  display: flex;
  align-items: center;
  margin: 24px 0px;
  gap: 4px;
}

.used-space {
  background: #f9f5ff;
  border-radius: 8px;
  padding: 20px 16px;
  color: #6941c6;
  margin-bottom: 24px;
}

.used-space-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.used-space-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.used-space-action {
  color: #7f56d9;
  display: inline-flex;
  gap: 12px;
}

.side-progressivebar {
  margin-bottom: 16px;
}

.account {
  display: flex;
  gap: 12px;
}

.profile-container {
  width: 40px;
  height: 40px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px;
}

.profile-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

.profile-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

.profile-image-wrapper {
  width: 40px;
  height: 40px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px;
}

.logout-btn {
  align-self: flex-start;
}

/* Ending of the Sidebar */

.dashboard-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.dashboard-heading-container {
  padding: 0px 16px 32px 16px;
}

.dashboard-heading {
  margin-bottom: 16px;
}

.dashboard-heading-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #101828;
}

.dashboard-sub-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

.dashboard-cta-button {
  display: flex;
  gap: 12px;
}

.card-container {
  margin: 0px 16px 12px 16px;
}

.card {
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  margin-bottom: 20px;
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}

.card-body {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.number-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.card-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #101828;
}

.card-message {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

.success {
  color: #027a48;
}

.error {
  color: red;
}

.searchfilter-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 16px 26px 16px;
  gap: 12px;
  margin-bottom: 26px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.full-btn {
  width: 100%;
}

.filter-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.filter-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6941c6;
  background: #f9f5ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 10px 21px 10px 16px;
}

.filter-item > img {
  padding-right: 15px;
}

.table-section {
  margin: 0px 16px 96px 16px;
  overflow: auto;
}

.table-container {
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  min-width: 1300px;
}

.display {
  display: none;
}

/* For tablet view: */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .login-container {
    align-items: start;
  }

  .heading-section {
    align-items: start;
    justify-content: center;
  }
}

/*------------- for laptop view:--------------- */

@media only screen and (min-width: 1024px) {
  .dashboard-heading-container {
    padding: 0px 16px 32px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-main {
    display: flex;
    overflow: hidden;
    margin: 44px 0px 0px 312px;
    width: calc(100%-312px);
    padding: 0px 32px 0px 32px;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .searchfilter-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px 26px 16px;
    gap: 12px;
  }

  .filter-container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
  }

  .full-btn {
    width: auto;
  }

  .sidebar-logo {
    padding-top: 32px;
    margin-bottom: 24px;
  }
}
